[Desktop Entry]
Type=Application
Name=Taffy
Comment=Simple screen capture for Wayland and COSMIC
Exec=taffy
Terminal=false
Categories=Utility;Graphics;
Keywords=screenshot;screen recording;gif;wayland;cosmic;
